html, body, .block {
    height: 100%;
}


html { 
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-326483.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}