<link href="../css/coaches.css" rel="stylesheet">
<link href="../css/parallax.css" rel="stylesheet">

<div class="parallax-container parallax-size">
  <div class="parallax trans-background"></div>
</div>

<div class="section white z-depth-5"  style="background: rgba(0,0,0,0.4); border-radius: 25px;">

  	<div class="row container z-depth-1" id="section-coaches">
  		<div class="col m12">
			<ul id="tabs-swipe-demo" class="tabs cyan">
				<li class="tab col s3 "><a class="active white-text" href="#test-swipe-1">Chris Coleman</a></li>
				<li class="tab col s3"><a class=" white-text" href="#test-swipe-2">Jhon Doe</a></li>
				<li class="tab col s3"><a class=" white-text" href="#test-swipe-3">Jhon Doe</a></li>
			</ul>
		</div>
			<div id="test-swipe-1" class="col s12 ">
				</br>
				<div class="row">
					<div class="col m3">
						<img class="materialboxed " width="250" src="../img/chris.png">
					</div>
					<div class="col m7 offset-m1">
						
						<h4>Chris Coleman</h4>
						<hr>
						<h6>CrossFit Level 1 Trainer/ Owner</h6>
						<h6>CrossFit Gymnastics Certified</h6>
						<p>After 20 years of playing competitive team sports, Chris found the sport of CrossFit in 2011 and was hooked from the start.  He was immediately drawn to the individuality of the sport while sill connecting with the team spirit that the CrossFit community embraces.  In addition,  Chris is driven by the physical and mental endurance that he has gained since beginning CrossFit.  Mostly though, he is inspired by watching the confidence of his students change from an "I can't" to an "I can do anything!" attitude. </p>
					</div>
				</div>
				    
				</br>  
		

		</div>
		<div id="test-swipe-2" class="col s12 ">
			</br>
			<div class="row">
				<div class="col m3">
					<img class="materialboxed " width="250" src="http://via.placeholder.com/250x350">
				</div>
				<div class="col m7 offset-m1">
					
					<h4>Jhon Doe</h4>
					<hr>
					<h6>CrossFit Level 1 Trainer/ Owner</h6>
					<h6>CrossFit Gymnastics Certified</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, architecto ipsa velit laboriosam aut animi laudantium quas quam ea repellat, error odio omnis ullam voluptatum aspernatur asperiores a vitae voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>   
			</br>  

		</div>
		<div id="test-swipe-3" class="col s12 ">
			</br>
			<div class="row">
				<div class="col m3">
					<img class="materialboxed " width="250" src="http://via.placeholder.com/250x350">
				</div>
				<div class="col m7 offset-m1">
					
					<h4>Jhon Doe</h4>
					<hr>
					<h6>CrossFit Level 1 Trainer/ Owner</h6>
					<h6>CrossFit Gymnastics Certified</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, architecto ipsa velit laboriosam aut animi laudantium quas quam ea repellat, error odio omnis ullam voluptatum aspernatur asperiores a vitae voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>   
			</br>
		</div>
	</div>

</div>


<div class="parallax-container parallax-size">
  <div class="parallax trans-background"></div>
</div>

<script src="../../js/coaches.js"></script>
<script src="../../js/parallax-init.js"></script>