
<link href="../css/parallax.css" rel="stylesheet">
<link href="../css/home.css" rel="stylesheet">

<div class="parallax-container parallax-size">
  <div class="parallax trans-background"></div>
</div>

<div class="section white z-depth-5">
  <div class="row container z-depth-1">
    </br>
    <div class="slider">
      <ul class="slides">
        <li>
          <img class="responsive-img" src="../img/big_group.png"> <!-- random image -->
          <div class="caption center-align">
            <h3>Welcome</h3>
            <h5 class="light grey-text text-lighten-3">Join us EVERY Saturday for a FREE Community Workout at 9am!!!.</h5>
          </div>
        </li>
        <li>
          <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>

    </br>

    <div class="col s12 m12">
    
        <div class="center ">
            <a href="https://crossfitnirving.wordpress.com/" class="waves-effect waves-light btn-large green darken-1 z-depth-2" target="_blank"><i class="material-icons right">fitness_center</i> Work Out Of the Day</a>
        </div>
      </br>
    </div>

  </div>

    
</div>
<div class="parallax-container parallax-size">
  <div class="parallax trans-background"></div>
</div>





<script src="../../js/home.js"></script>
<script src="../../js/parallax-init.js"></script>