
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Starter Template for Bootstrap</title>

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link href="../css/navBar.css" rel="stylesheet">
  <link href="../css/home.css" rel="stylesheet">


  </head>

  <body>
    {{>navbar}}
    <main>
        {{{ body }}}
    
    </main>


    {{>footer}}
    

    <div id="adress-div" class="fixed-action-btn "> 
      <!-- Element Showed -->
      <a id="addressMenu" class="waves-effect waves-light btn btn-floating cyan" onclick="$('.tap-target').tapTarget('open');"><i class="material-icons">edit_location</i></a>

      <!-- Tap Target Structure -->
      <div class="tap-target cyan" data-activates="addressMenu">
        <div class="tap-target-content">
          <h4 class="white-text">We Moved!!!!</h4>
          <h5 class="white-text"> 
            New address is:</br>
            3150 Premier Dr #126</br>
            Irving TX, 75063
          </h5>
        </div>
      </div>
    </div>

  </body>
</html>
